@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  color:#354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #b993d6, #8ca6db);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}